/* Start Global */
:root {
  --mcolor: #ff9800;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
section {
  padding: 50px 0;
  position: relative;
}
.title {
  width: fit-content;
  margin: 0 auto 50px;
  color: #444;
  position: relative;
  padding: 10px 20px;
}
.title::before,
.title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--mcolor);
}
.title::before {
  top: 0;
  left: 0;
}
.title::after {
  bottom: 0;
  right: 0;
}

/* Start Setting Box */
.settingBox {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  min-height: 100vh;
  background-color: rgba(12, 12, 12, 0.479);
  transition: 0.3s;
  z-index: 100;
  text-align: center;
}
.settingBox.opened {
  left: 0;
}
.settingBox .toggleSetting {
  position: absolute;
  width: 30px;
  padding: 8px 0;
  background-color: rgba(51, 51, 51, 0.623);
  text-align: center;
  right: -30px;
  top: 100px;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
.optionBox {
  background-color: #f6f6f6;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}
.optionBox h4 {
  color: #555;
  font-size: 14px;
  margin: 0;
}
.optionBox ul {
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}
.optionBox ul li {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.7;
  border: 4px solid #eee;
}
.optionBox ul li:first-child {
  background-color: #ff9800;
}
.optionBox ul li:nth-child(2) {
  background-color: #e91e63;
}
.optionBox ul li:nth-child(3) {
  background-color: #009688;
}
.optionBox ul li:last-child {
  background-color: #03a9f4;
}
.optionBox ul li.active {
  opacity: 1;
  border-color: white;
}
.optionBox span {
  color: white;
  background-color: var(--mcolor);
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 15px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
}
.optionBox span.active {
  opacity: 1;
}
.settingBox button.reset {
  width: 180px;
  background-color: #f44336;
  color: white;
  border: none;
  margin: 10px auto;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Start Nav Bullets */
nav {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 100;
}
nav .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--mcolor);
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}
nav .bullet .tooltip {
  display: none;
  background-color: var(--mcolor);
  color: white;
  position: absolute;
  width: 120px;
  padding: 8px 10px;
  right: 40px;
  top: -6px;
  text-align: center;
  transition: 0.3s;
  border-radius: 4px;
}
nav .bullet .tooltip::before {
  /* font-family: "Font Awesome 5 Free"; */
  content: "";
  position: absolute;
  right: -28px;
  top: 6.5px;
  border: 12px solid;
  border-color: transparent transparent transparent var(--mcolor);
  color: var(--mcolor);
  animation: bounce 1.3s linear infinite;
}
nav .bullet:hover .tooltip {
  display: block;
}

/* Start Landing Page*/
header {
  width: 100%;
  position: fixed;
  z-index: 200;
  display: block;
}
header .container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
header .container i {
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  z-index: 200;
}
header ul {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  transition: 0.3s;
}
header ul a {
  padding-left: 15px;
  color: white;
  transition: 0.3s;
}
header ul a:hover {
  color: var(--mcolor);
}
@media (max-width: 767px) {
  header .container i {
    opacity: 1;
  }
  header ul {
    position: absolute;
    width: 100%;
    height: fit-content;
    right: 0px;
    top: 100%;
    flex-flow: row wrap;
    background-color: rgba(12, 12, 12, 0.815);
    z-index: 200;
    border-radius: 6px;
    display: none;
  }
  header ul::before {
    content: "";
    position: absolute;
    border: 12px solid;
    border-color: transparent transparent rgba(12, 12, 12, 0.815);
    top: -24px;
    right: 30px;
  }
  header ul a {
    width: 100%;
    padding: 15px 20px;
    margin: 2px;
  }
  header ul a:not(:last-child) {
    border-bottom: 1px solid rgba(116, 116, 116, 0.787);
  }
  header ul a:hover {
    background-color: #222;
    cursor: pointer;
    padding-left: 30px;
  }
}

/* Start Article */
article {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(35, 7, 49), rgb(16, 0, 34));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1;
}
article img {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
article #moon {
  mix-blend-mode: screen;
  transform: translateY(80px);
}
article h1 {
  transform: translateY(-150px);
  font-style: italic;
  color: white;
  font-size: 0;
  position: fixed;
}
article h1 span {
  color: var(--mcolor);
}
@media (max-width: 767px) {
  article #boat {
    width: calc(100% + 60px);
    left: 0;
    transform: translateX(-90px);
  }
}

/* Start About Section */
.about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  background: linear-gradient(to bottom, #1a0818, white);
  z-index: 98;
}
.about .container {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .about .container {
    flex-flow: column;
    text-align: center;
  }
}
.about .text {
  margin-top: 10px;
  padding: 20px;
  flex: 1;
}
.about .text h1 {
  color: var(--mcolor);
  margin: 0 0 15px;
}
.about .text p {
  line-height: 1.8;
  color: #767676;
}
.about .image {
  flex: 1;
  text-align: center;
}
.about .image img {
  width: 250px;
}

/* Start Skills */
.skills {
  background-color: #eee;
}
.skills .skill-box {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.skills .skill-box h4 {
  width: 125px;
  text-align: center;
}
.skills .skill-box .skill-progress {
  background-color: #f6f6f6;
  height: 25px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  border-radius: 2px;
  background-color: var(--mcolor);
  transition: 0.8s;
}

/* Start Gallery */
.gallery .image {
  text-align: center;
}
.gallery .image img {
  width: 160px;
  padding: 4px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

/* Start Timeline */
.timeline {
  background-color: #eee;
}
.timeline .container {
  position: relative;
  overflow: hidden;
}
.timeline .container::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--mcolor);
}
.timeline .container .year {
  width: fit-content;
  margin: 20px auto;
  padding: 3px 6px;
  background-color: var(--mcolor);
  color: white;
  z-index: 2;
  border-radius: 4px;
}
.timeline .year-box {
  width: calc(50% - 25px);
  background-color: white;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.timeline .year-box.right {
  margin-left: auto;
}
.timeline .year-box.left::before,
.timeline .year-box.right::before {
  content: "";
  position: absolute;
  top: 20px;
  border: 10px solid;
}
.timeline .year-box::after,
.timeline .year-box.right::after {
  content: "";
  position: absolute;
  right: -35.5px;
  top: 20px;
  border: 3px solid var(--mcolor);
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.timeline .year-box.left::before {
  right: -20px;
  border-color: transparent transparent transparent white;
}
.timeline .year-box.right::before {
  left: -20px;
  border-color: transparent white transparent transparent;
}
.timeline .year-box.right::after {
  left: -35.5px;
}
.timeline .year-box h3 {
  color: var(--mcolor);
  margin-bottom: 15px;
}
.timeline .year-box p {
  line-height: 1.6;
  color: #777;
}
@media (max-width: 767px) {
  .timeline .year-box {
    width: 100%;
  }
  .timeline .year-box.left::before,
  .timeline .year-box.right::before,
  .timeline .year-box.left::after,
  .timeline .year-box.right::after {
    display: none;
  }
}
/* Start Feautres */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
.features .box {
  text-align: center;
  margin-bottom: 50px;
}
.features .box img {
  width: 95px;
}
.features .box h2 {
  margin: 10px auto 50px;
  position: relative;
}
.features .box h2::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  background-color: var(--mcolor);
}
.features .box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
  color: #777;
}

/* Start Testimonials */
.testimonials {
  /* min-height: 600px; */
  background-image: linear-gradient(to right, var(--mcolor) 50%, #333 50%);
}
.testimonials .title {
  margin-bottom: 100px;
}
.testimonials .title span {
  color: var(--mcolor);
}
.testimonials .title::before,
.testimonials .title::after {
  background-color: white;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}
.testimonials .box {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 50px auto;
  position: relative;
  border-radius: 10px;
}
.testimonials .box p {
  color: #777;
  line-height: 1.6;
  margin-top: 10px;
}
.testimonials .box .rate {
  color: rgb(255, 215, 0);
  margin: 10px 0;
}
.testimonials .box img {
  width: 80px;
  position: absolute;
  top: -30px;
  right: -18px;
  background-color: #333;
  border-radius: 50%;
  padding: 7px;
}
.testimonials .box:first-child img {
  background-color: var(--mcolor);
}
@media (max-width: 767px) {
  .testimonials .box {
    width: 90%;
    margin: 0 auto;
  }
  .testimonials .box:first-child img {
    background-color: #333;
  }
}

/* Start Contact */
.contact {
  min-height: 500px;
  background-image: url(/IMG/contact.png);
  background-size: cover;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form .left,
form .right {
  width: 49%;
}
@media (max-width: 767px) {
  form {
    flex-flow: column;
    align-items: center;
  }
  form .left,
  form .right {
    width: 95%;
  }
}
form input,
form textarea {
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
  border-radius: 2px;
}
form input:focus,
form textarea:focus {
  outline: 1px solid var(--mcolor);
}
form input[type="submit"] {
  background-color: var(--mcolor);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
form .gender {
  margin-top: 30px;
  display: flex;
}
form input[type="radio"] {
  width: fit-content;
  margin-right: 10px;
  color: var(--mcolor);
}
form input[type="radio"]:checked + label {
  color: var(--mcolor);
}
form label {
  margin-right: 50px;
}
form textarea {
  height: 150px;
}
form .progress {
  height: 4px;
  width: 0;
  position: relative;
  top: -16px;
  transition: 0.3s;
}

/* Start Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Animations */
@keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40%,
  60% {
    transform: translateX(8px);
  }
}
